body{
    margin: 0;
    background: linear-gradient(to right, #00ff15, #eeff00);
}
.Text{
    text-align: center;
}
.Pic1{
    vertical-align: middle;
    width: 2%;
    -webkit-filter: drop-shadow(3px 5px 5px #000);
    filter: drop-shadow(3px 5px 5px #000);
}
.Pic2{
    vertical-align: middle;
    width: 1.5%;  
    -webkit-filter: drop-shadow(3px 5px 5px #000);
    filter: drop-shadow(3px 5px 5px #000); 
}
.Pic3{
    vertical-align: middle;
    width: 1.5%;  
    -webkit-filter: drop-shadow(2px 3px 3px #000);
    filter: drop-shadow(2px 3px 3px #000); 
}
